@{
    ViewData["Title"] = "Trang Quản Trị";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="text-center mb-4">
        <h2>Chào mừng đến trang Quản trị</h2>
        <p>Đây là nơi bạn có thể quản lý các khía cạnh của cửa hàng.</p>
    </div>
</div>

